body{
    margin: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar{
    width: 150px;
}
.card{
    background-color: rgba(88, 34, 34, 0.657);
    border-bottom: 10px rgb(101, 51, 51);
    width: 400px;
    padding: 20px;
    font-style: italic;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    border-bottom: 5px black solid;

}
